h1 {
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    background: url(http://2.bp.blogspot.com/-pp0at5PHjpw/T6pz0Af1bAI/AAAAAAAABLo/whllWyxSAoY/s1600/IMG_0049.JPG);
}

.header {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(128, 0, 0, 0.788);
}

.img {
    text-align: center;
}

.about {
    text-align: center;

    display: inline-block;
    padding: 2.7rem 7.5rem;
    background: #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    color: rgb(128, 0, 0);
    border-radius: 10px;
    transition: background 0.5s;
}

.about:hover {
    background: #dadada;
}